@font-face{ /*Import font. Also import medium and bold variants bellow*/
  font-family: "Montserrat";
  src:url("fonts/Montserrat-Regular.ttf");
}
@font-face{
  font-family: "Montserrat-Medium";
  src:url("fonts/Montserrat-Medium.ttf");
}
@font-face{
  font-family: "Montserrat-Bold";
  src:url("fonts/Montserrat-Bold.ttf");
}
html{
  scroll-behavior: smooth; /*smooth scrolling when you click a link*/
}
body{
  background-image: url("../img/bgr.jpg"); /*background image*/
  background-size: cover;
  background-attachment: fixed; /*fixed background when scrolling*/
  font-family: Montserrat; /*set font*/
  font-size: 1.6em; /*set font size. em- relative to the font-size of the element*/
}
nav{
  margin: 0 auto; /*center using margins. Margin- empty space outside lement*/
  max-width: 1024px; /*can be smaller but not bigger*/
}
.navbar{
  border-radius: 4px; /*rounding of the corners*/
  box-shadow: -7px 7px 8px 0px rgba(0,0,0,0.30); /*semi-transparent shadow, cssmatic.com/box-shadow*/
}
nav li:hover{ /*change style on hover*/
  background-color: #151515; /*set background color to darker gray*/
}
.navbar-brand img{ /*logo in nav*/
  width: 50%; /*make logo small enough*/
  margin-top: -7%; /*aligns image verticaly*/
}
.navbar-brand img:hover{
  opacity: 0.85; /*make logo semi-transparent*/
}
.header{
  max-width: 1024px;
  margin: 0 auto;
  color: white; /*text-color*/
  padding-top: 150px; /*padding- empty space inside elemnt.*/
  padding-bottom: 80px;
  animation: slidel 4s 1; /*my custom keyframe animation, lasts 4s, runs once. Explained later*/
}
.header button{
  background-color: #222; /*same color as nav*/
  transition: 0.3s; /*transition duration for style changes with :hover or :active*/
  margin-top: 8%;
  font-size: 1.1em;
  padding: 9px 25px 9px 25px; /*top, right, bottom, left*/
}
.header button:hover{
  color:#222;
  background-color: white;
}
.header a{
  color: white;
  text-decoration: none; /*remove text decoration from links*/
}
.header a:hover{
  text-decoration:none;
}
.header h1{
  margin-bottom: 6%;
  font-weight: bold; /*make text bold*/
  font-size: 3.8em;
}
.caret{ /*down-pointing arrow on Explore button*/
  transform: rotate(-90deg); /*rotate it by 90 degrees clockwise*/
}
.page1{
  background-color: white;
  padding-top: 50px;
  padding-bottom: 80px;
}
.page1 h1{
  text-align: center; /*center text*/
  margin-bottom: 25px;
}
.page1 img{
  height: 100px; /*set height of an element*/
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex; /*flexbox layout module, makes container flexible, see more: css-tricks.com/snippets/css/a-guide-to-flexbox*/
  transition: 0.4s
}
.page1 img:hover{
  transform: rotate(180deg);
}
.page1 p{
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
hr{
  width: 40%;
}
.cont{
  background-color:#4ba9c8;
  color: white;
  padding-top: 50px;
  padding-bottom: 80px;
}
.cont h1{
  text-align: center;
}
.cont form{
  margin-top: 5vh; /*vh- viewport width unit. See more: sitepoint.com/css-viewport-units-quick-start*/
  margin-bottom: 5vh;
}
.cont input, textarea{
  width:100%;
  color: #222;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc; /*sets the border around element*/
  resize: vertical; /*allow the user to resize textarea verticaly but not horisontaly*/
}
.cont textarea{
  height: 15vh;
}
.cont .btn{
  background-color: #222;
  width: 100%;
  font-size: 1.1em;
  transition: 0.3s;
}
.cont .btn:hover{
  background-color: white;
  color: #222;
}
.cont .contactimg{
  max-width: 70%;
  display: flex;
  margin: 0 auto;
  padding-top: 12vh;
}
.cont .contactimg:hover{
  animation: tilt 1s infinite; /*custom keyframe animation, lasts 1s, runs forever*/
}
.cont p{
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
.cont a{
  text-decoration: none;
  color: white;
  transition: 0.3s;
}
.cont a:hover{
  color: #222;
}
.tabl{
  background-color: #fff6e5;
  padding-top: 50px;
  padding-bottom: 80px;
}
.tabl h1{
  text-align: center;
}
.tabl hr{
  border-color: #222; /*sets the color of the table border*/
  opacity: 0.15;
}
.tabl table{
  margin: 60px auto;
  box-shadow: -7px 7px 16px 0px rgba(0,0,0,0.75);
  transition: 0.3s;
}
.tabl table:hover{
  box-shadow: -7px 7px 32px 0px rgba(0,0,0,0.75); /*blur radius doubles*/
}
.tabl caption{
  font-size: 18px;
  padding: 12px 0;
}
.tabl thead th{
  background: #4ba9c8;
  color: #fff;
  font-weight: initial; /*sets font-weight to its default value*/
}
.tabl tr{
  background: #f1f1f1;
}
.tabl tr:nth-child(2n){
  background: #e0e0e0;
}
.tabl th, td {
  text-align: left;
  padding: 24px;
}
.tabl img{
  max-width: 80%;
  margin-top: 90px;
  display: flex;
}
.tabl img:hover{
  animation: point 0.8s infinite; /*Custom keyframe animation, lasts 0.8s, runs forever*/
}
footer{
  background-color: #222;
  padding-top: 50px;
  padding-bottom: 10px;
  color: white;
}
footer img{
  width: 60px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 40px;
  transition: 0.4s;
}
footer img:hover{
  transform: rotate(180deg);
}
footer a{
  text-decoration: none;
  color: white;
}
footer a:hover{
  color: white;
}
.copyright{
  text-align: center;
}

/*With keyframes you can create custom animations. See more: w3schools.com/cssref/css3_pr_animation-keyframes.asp*/

@keyframes slidel { /*element slides in from left, then bounces left-right and gradually stops*/
  0% { transform:translateX(-100%); }
  45%{ transform:translateX(-100%); }
  55% { transform:translateX(4%); }
  65% { transform:translateX(-2%); }
  75% { transform:translateX(1%); }
  85% { transform:translateX(-1%); }
  100% { transform:translateX(0%); }
}
@keyframes tilt{ /*element tilts to the right, then left, then right again*/
   0% { transform: rotate(0deg); }
   25% { transform: rotate(10deg); }
   50% { transform: rotate(-10deg); }
   75% { transform: rotate(10deg); }
   100% { transform: rotate(0deg); }
}
@keyframes point{ /*element moves to the left then returns back to its starting position*/
   0% { transform:translateX(0%); }
   50% { transform:translateX(-8%); }
   100% { transform:translateX(0%); }
}

/*With media queries you can change styles at different screen sizes(breakpoints). See more: w3schools.com/css/css_rwd_mediaqueries.asp*/

@media only screen and (max-width:767px){
  .navbar{
    box-shadow: none; /*removes box shadow*/
  }
  .tabl img{
    transform: rotate(90deg);
    margin: 0 auto;
    margin-top: 100px;
  }
  @keyframes point{} /*removes custom keyframe animation*/
}
